<div class="w3-container w3-padding">
  <h4>Navigation Menu</h4>
</div>
<ul class="w3-ul w3-hoverable w3-white">
  <a href="{{ site.baseurl }}/index.html" style="text-decoration:none;">
    <li class="w3-padding-16">
      <img src="{{ site.baseurl }}/assets/w3_template/gondol.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
      <span class="w3-large">Blog</span><br>
      <span>See the latest updates!</span>
    </li>
  </a>
  <a href="{{ site.baseurl }}/team.html" style="text-decoration:none;">
    <li class="w3-padding-16">
      <img src="{{ site.baseurl }}/assets/w3_template/skies.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
      <span class="w3-large">The Team</span><br>
      <span>Who is From Nothig?</span>
    </li>
  </a>
  <a href="{{ site.baseurl }}/contact.html" style="text-decoration:none;">
    <li class="w3-padding-16 w3-hide-medium w3-hide-small">
      <img src="{{ site.baseurl }}/assets/w3_template/rock.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
      <span class="w3-large">Contact</span><br>
      <span>Inquiries, Suggestions, and Etc.</span>
    </li>
  </a>
</ul>
